@charset "utf-8";

.logoUV{
	width: 200px;
}
.titulo{
	width: 950px;
}
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-pie-chart .jqplot-data-label {
    color: black !important;
}




#tablaPanelLogin label {
  display: inline-block;
  width: 100px;
}

#tablaPanelLogin div.form-group {
  display: flex;
  align-items: center;
}

#tablaPanelLogin div.form-group p {
  margin-bottom: 0;
}

.login-box a {
  color: blue;
}

.login-box .register-link {
  color: blue;
}

.panel-header {
  font-size: 30px;
}


.tituloHeader{
	font-family: sans-serif;
	font-size: xx-large;
	text-decoration: none;
	color: #003965;
}
.linkTitulo {
    text-decoration: none;
}

.tituloPagina{
	color: #e69700;	
	font-weight: bold;
}
.linkTitulo{
	color: #003965 !important;
	font-weight: bold;
}


.nombreHeader{
	font-size: small;
	font-style: italic;
}
.logo {
    width: 115px;
}
.logo2 {
    width: 150px;
}

.hidden {
    display: none;
}

.divs{
    border:none!important;
    }


.titulo{
 	margin-top:0px; 
	margin-left:200px; 
}

#logoUV{
	position:absolute;
	margin-top:5px;
	margin-left:5px;
	width:130px;
}

#headerDecom{
	position:absolute;
	margin-top:0px;
	margin-left:600x !important;
	width:400px;
}

.crearCuentaForm{
	width:35%;
	margin:0 auto !important;
	min-width: 300px;
}

.label{
	font-weight: bold;
}

.value{
	font-style: italic;
}

body {
	font-size:76% !important;
	width: 99%;
	height: 100%;
}

.ui-wizard-step-title{
	font-size:100% !important;	
}

.ui-menuitem-text{
/* 	color: #006699 !important; */
	font-weight: bold;
}

.toolbar-row {
    display: flex;
    flex-wrap: wrap;
}

.toolbar-row p\\:commandButton {
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.miAccordionPanel .miAccordionTabContent {
  display: none;
}

.miAccordionPanel .miAccordionTabTitle {
  cursor: pointer;
  font-size: 14px;
}

.miAccordionPanel .miAccordionTabTitle::after {
  content: "∨";
  display: inline-block;
  margin-left: 5px;
  font-weight: normal;
}

.miAccordionPanel .miAccordionTabTitle.active::after {
  content: "∧";
  font-weight: normal;
}

.miAccordionPanel .miAccordionTabContent.active {
  display: block;
}

.miDataList ul {
  padding-left: 10px;
}

.alignCenterMenuEst {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectOneListbox {
	width: 250px;
	height: 100px;
	overflow-y: auto;
}

